<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.prembros.programming.quizapp">

    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <!--<uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <!-- To access accounts configured on device -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!-- To use account credentials -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!--To share the screenshot-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity
            android:name="com.prembros.programming.quizapp.FirstScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FirstScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.prembros.programming.quizapp.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />]
                <category android:name="android.intent.category.INFO" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </activity>
        <activity
            android:name="com.prembros.programming.quizapp.Questions"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_questions"
            android:theme="@style/QuestionsTheme"/>
        <activity
            android:name="com.prembros.programming.quizapp.Bookmarks"
            android:label="@string/title_activity_bookmarks"
            android:theme="@style/BookmarksTheme" />
        <activity android:name=".FirstIntro"
            android:theme="@style/FirstScreenTheme"
            android:label="@string/app_name"/>

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.prembros.programming.quizapp.Results"
            android:label="@string/title_activity_results"
            android:theme="@style/ResultsTheme"
            android:parentActivityName="com.prembros.programming.quizapp.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.prembros.programming.quizapp.MainActivity" />
        </activity>
        <activity
            android:name="com.prembros.programming.quizapp.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/LoginActivityTheme">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>
